*{
  margin:0;
  padding:0;
}
body{
  background-color:#1C98A6;
  background-image:url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
  background-repeat:no-repeat,no-repeat;
  background-position: right 50vw bottom 20vh,left 50vw  top 40vh;
  font-family:Kumbh Sans;
}
.card-container,.profile-image{
  background-color:#FFFFFF;
}
.card-container{
  border-radius:15px;
  margin:90px auto;
  height:360px;
  width:350px;
}
.pattern,.profile-image,.profile-stats,.attribution{
  text-align:center;
}
.pattern img{
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
.profile-image{
  border:5px solid #FFFFFF;
  position:relative;
  bottom:70px;
  left:120px;
  height:100px;
  width:100px;
}
.profile-image img,.profile-image{
  border-radius:50%;
}
.name,.profile-stats h4,hr{
  color:#3D3E4B;
}
.name{
  font-size:18px;
  font-weight:800;
  position:relative;
  right:20px;
  margin-top:30px;
  width:140px;
}
.age,.location,.profile-stats p{
  color:#BABBBD;
  font-weight:400;
}
.location{
  font-size:14px;
  margin-top:10px;
}
hr{
  border-top:1px solid #BABBBD;
  margin-top:20px;
}
.profile-stats{
  display:flex;
  align-items: center;
  justify-content: center;

}
.profile-stats h4{
  margin:20px 20px 0 20px;
  padding:5px;
}
.profile-stats p{
  font-size:12px;
  margin-top:5px;
}
.attribution{
  font-size:10px;
}
