*{
  margin:0;
  padding:0;
}
body{
  background-color:#1C98A6;
  font-family:Kumbh Sans;
}
.card-container{
  background-color:#FFFFFF;
  border-radius:15px;
  margin:90px auto;
  height:360px;
  width:350px;
}
.pattern,.profile-image{
  text-align:center;
}
.pattern img{
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
.profile-image{
  height:100px;
  width:100px;
  background:#FFFFFF;
  border:5px solid #FFFFFF;
  border-radius:50%;
  position:relative;
  bottom:70px;
  left:120px;
}
.profile-image img{
  border-radius:50%;
}
.name,.profile-stats h4,hr{
  color:#3D3E4B;
}
.name{
  font-size:18px;
  font-weight:800;
  position:relative;
  right:20px;
  margin-top:30px;
  width:140px;
}
.age,.location,.profile-stats p{
  color:#BABBBD;
  font-weight:400;
}
.location{
  font-size:14px;
  margin-top:10px;
}
hr{
  margin-top:20px;
}
.profile-stats{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.profile-stats h4{
  margin:20px 20px 0 20px;
  padding:5px;
}

.profile-stats p{
  font-size:12px;
  margin-top:5px;
}
